<div class="center-block">
    <div class="floor center">
        <div ng-repeat="part in editFloorScope.parts">
            <span class="{{part}} span-margin-right" ng-click="editFloorScope.selectItems($index+1)" ></span>
        </div>
    </div>
    <div class="top20">
        <span class="btn btn-default" ng-click="editFloorScope.addFloor()">Add Floor</span>
        <span class="btn btn-default" ng-click="editFloorScope.changeFloor()">Change Floor</span>
        <span class="btn btn-default" ng-click="editFloorScope.cancel()">Cancel</span>
    </div>
</div>