<div class="ng-modal" ng-controller="MyModalCtrl">
    <div id="myModal" class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-warning">{{modal.msgText}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modal.closeMe()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
