<div class="">
    <h2>Home</h2>
    <!--<span class="top20 btn btn-lg btn-primary btn-default" ng-click="homeScope.logout()">Logout</span>-->
    <!--<div class="col-xs-12 col-sm-9">-->
        <!--<div class="row">-->
            <!--<div class="item" ng-repeat="house in homeScope.list" >-->
                <!--<span class="btn btn-default remove" ng-click="homeScope.removeHouse(house.objectId)">remove</span>-->
                <!--<h2 ng-click="homeScope.reviewHouse(house.objectId)">{{house.name}}</h2>-->
            <!--</div>-->
            <!--<div class="item" >-->
                <!--<input class="input-text" type="text" placeholder="house name" ng-model="homeScope.houseName">-->
                <!--<span class="btn btn-default" ng-click="homeScope.createHouse()">Add house</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
