<div class="">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="item" ng-repeat="house in data.list" >
                <span class="btn btn-default remove" ng-click="removeHouse(house.objectId)">remove</span>
                <h2 ng-click="reviewHouse(house.objectId)">{{house.name}}</h2>
            </div>
            <div class="item" >
                <input class="input-text" type="text" placeholder="house name" ng-model="data.houseName">
                <span class="btn btn-default" ng-click="createHouse()">Add house</span>
            </div>
        </div>
    </div>
</div>
