<h1>Select items</h1>
<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="item">
            <div class=" block" ng-click="selectItemsScope.chooseItem('window')">
                <h2>Window</h2>
            </div>
        </div>
        <div class="item">
            <div class=" block" ng-click="selectItemsScope.chooseItem('door')">
                <h2>Door</h2>
            </div>
        </div>
        <div class="item">
            <div class=" block">
                <h2>Item</h2>
            </div>
        </div>
        <div class="item">
            <div class=" block">
                <h2>Item</h2>
            </div>
        </div>
    </div>
</div>